# MongoDB connection - get free cluster from mongodb.com/cloud/atlas
MONGODB_URI=mongodb+srv://gmsk8011:gmsk8011@cluster0.t2fzzds.mongodb.net/expense_tracker?retryWrites=true&w=majority&appName=Cluster0

# NextAuth - generate a secret: openssl rand -base64 32
NEXTAUTH_SECRET=replace_this_with_a_long_random_string
NEXTAUTH_URL=http://localhost:3000
